.header_container {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.nav_links ul {
  padding:0;
  list-style: none;
}

.nav_links li a {
  text-decoration: none;
}

.nav_links li{
  display: inline;
  margin: 20px;
}