.hero_image_container{
  display:flex;
  justify-content: center;
  padding: 20px;
}

.hero_image {
  width: 350px;
}

.hero_text {
  text-align: center;
  color:#070439;
}

.hero_text h1 {
  font-size: 30px;
  margin:0;
}

.hero_text p {
  font-size: 18px;
  padding: 20px;
  margin:0;
}

.hero_input_button {
  display:flex;
  flex-direction:column;
  margin: auto;
  text-align: center;
  align-items: center;
}

.hero_input_button input, 
.hero_input_button button{
    padding:0;
    border: 0;
    width: auto;
    height: 30px;
    border-radius: 2.5px;
    font-family: 'Open Sans', sans-serif;
}

.hero_input_button input{
  width: 350px;
  height: 40px;
  border: 0.5px solid #070439;
  margin-bottom: 12px;
  padding-left: 9px;
}

.hero_input_button button {
  width: 360px;
  height: 40px;
  color: white;
  background-color: #3065f8;
  transition: all 0.25s;
}

.hero_input_button button:hover {
  box-shadow: 0 3px 3px rgba(36, 19, 184, 0.2);
}